---
import BaseLayout from "./BaseLayout.astro";
import avatar from "../images/avatar.jpg";
import config from "../config";

import twitter from "../images/twitter.svg";
import github from "../images/github.svg";
import telegram from "../images/telegram.svg";
import youtube from "../images/youtube.svg";

const contacts = [
  {
    icon: twitter,
    url: "https://twitter.com/randyloop",
    title: "Twitter",
  },
  {
    icon: github,
    url: "https://github.com/djyde",
    title: "Github",
  },
  {
    icon: telegram,
    url: "https://t.me/djyde",
    title: "Telegram",
  },
  {
    icon: youtube,
    url: "https://www.youtube.com/channel/UCFQUVJ0_ZGzvuX6GHl_cqsQ",
    title: "YouTube",
  },
];
---

<BaseLayout title={config.title}>
  <div>
    <div class="lg:flex">
      <div class="text-center sm:px-48 lg:my-24 py-24 flex flex-col gap-4">
        <div
          class="w-48 h-48 bg-cover bg-center rounded-full inline-block mx-auto"
          style={`background-image: url(${avatar})`}
        >
        </div>
        <div>
          <h1 class="font-bold text-2xl">{config.name}</h1>
        </div>
        <div class="flex gap-4 justify-center">
          {
            contacts.map((contact) => {
              return (
                <a target="_blank" href={contact.url}>
                  <img src={contact.icon} alt={contact.title} class="w-6 h-6" />
                </a>
              );
            })
          }
        </div>
        <div class="flex lg:flex-col gap-4 text-sm mt-4 mx-auto">
          {
            config.navs.map((nav) => {
              return <a href={nav.url}>{nav.title}</a>;
            })
          }
        </div>

        <div class="text-slate-500 text-sm">
          Blog since {config.since}
        </div>
      </div>
      <div class="lg:my-24 mx-6 lg:mx-0">
        <div class="">
          <slot />
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
